/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

p{
    font-weight: 500;
}

.hero-section{
    background-image: url("images/torshov.jpg");
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 250px;
}

.rounded-img{
    border: hidden;
    border-radius: 50%;
}

.activities-section{
    background: #F1FAEE;
    color: #1D3557;
}

#activities-title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    padding: 30px 0px;
}

#activities-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.activity-text{
    width: 200px;
    color: #1D3557;
}

.guide-section{
    width: 400px;
    display: flex;
    background: #A8DADC;
    border-bottom: 5px solid #1D3557;
    margin: 20px auto;
    padding: 0px;
    align-items: center;
    justify-content: space-around
}

#guide-text{
    width: 170px;
    font-style: italic;
}

#guide-img{
    justify-content: center;
}

#title{
    display: block;
    width: 300px;
    margin: 8px auto;
    color: white;
    font-weight: lighter;
    border: none;
    border-radius: 10px;
    background: #457B9D;
    padding: 5px 10px;
}

#subtitle{
    font-size: 20px;
    display: block;
    width: 250px;
    margin: 0px auto;
    color: white;
    font-weight: lighter;
    border: none;
    border-radius: 10px;
    background-color: #1D3557;
    padding: 5px 10px;
}

img {
    width: 100px;
}